<footer>
    <a href="mailto:yelena.guthrie@gmail.com">yelena.guthrie@gmail.com</a>
    <p>©
        <script type="text/javascript">
            document.write(new Date().getFullYear());
        </script> Yelena Guthrie. All Rights Reserved.
    </p>

</footer>