<nav>
    <ul>
        <li>🥣</li>
        <li><a href="/">Home</a></li>
        <li><a href="savory">Savory</a></li>
        <li><a href="sweet">Sweet</a></li>
        <li><a href="table">My Table</a></li>
    </ul>
</nav>