<%-include('../partials/head.ejs') %>

<body>
    <header>
        <%- include('../partials/nav.ejs') %>
        <div class="header savory">
            <h1>Savory</h1>
        </div>
    </header>
    <main>
        <div class="vegetarian category">
          
            <div>
                <h2 class="title"><a href="/vegetarian">Vegetarian</a> </h2>
            </div>
        </div>
        <div class="meat category">
          
            <div>
                <h2 class="title"><a href="/meat">Meat</a></h2>
            </div>
        </div>
        <div class="fish category">
         
            <div>
                <h2 class="title"><a href="/fish">Fish</a></h2>
            </div>
        </div>
    </main>
    <%-include('../partials/back_link.ejs')%>
    <%-include('../partials/footer.ejs') %>
</body>

</html>