<%-include('../partials/head.ejs') %>

<body>
    <header>
        <%-include("../partials/nav.ejs") %>
        <div class="header sweet">
            <h1>Sweet</h1>
        </div>
    </header>
    <main>
        <div class="pastry category">

            <div>
                <h2 class="title"><a href="/pastry">Pastry</a></h2>
            </div>
        </div>
        <div class="cake category">

            <div>
                <h2 class="title"><a href="/cake">Cake</a></h2>
            </div>
        </div>
        <div class="fruit category">

            <div>
                <h2 class="title"><a href="/fruit">Fruit</a></h2>
            </div>
        </div>
    </main>
    <%-include('../partials/back_link.ejs')%>
    <%-include('../partials/footer.ejs') %>
</body>

</html>